<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tvdashboard.database"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/orient_logo" >
        <activity
            android:name="com.tvdashboard.main.MainDashboard"
            android:screenOrientation="landscape" > 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>               
        </activity>
        <activity
            android:name="com.tvdashboard.main.VideoSection"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:screenOrientation="landscape" >

        </activity>
        
        <activity
            android:name="com.tvdashboard.main.AppSection"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:screenOrientation="landscape" >

        </activity>
        
        <activity
            android:name="com.tvdashboard.main.MusicSection"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:screenOrientation="landscape" >

        </activity>
        
        <activity
            android:name="com.tvdashboard.main.PictureSection"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:screenOrientation="landscape" >
        </activity>

    </application>

</manifest>
